<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32101">
		<setting type="text"	id="profile.name.1"							label="32110"	visible="true" 							default=""/>
		<setting type="action"	id="audiooutput.audiodevice.1"				label="32120"	visible="true" 							default=""		action="RunScript($ID, audiooutput.audiodevice, 1)"/>
		<setting type="text"	id="audiooutput.audiodevice.value.1"						visible="false"							default=""/>
		<setting type="text"	id="profile.audiodevicecategory.1"							visible="false"							default="Analog"/>
		<setting type="action"	id="audiooutput.channels.1"					label="32121"	visible="!eq(-1,SPDIF)"  				default=""		action="RunScript($ID, audiooutput.channels, 1)"/>
		<setting type="text"	id="audiooutput.channels.value.1"							visible="false" 						default="1"/>
		<setting type="action"	id="audiooutput.config.1"					label="32122"	visible="true"							default=""		action="RunScript($ID, audiooutput.config, 1)"/>
		<setting type="text"	id="audiooutput.config.value.1"								visible="false"							default="2"/>
		<setting type="action"	id="audiooutput.samplerate.1"				label="32123"	visible="eq(-5,SPDIF)"					default=""		action="RunScript($ID, audiooutput.samplerate, 1)"/>
		<setting type="text"	id="audiooutput.samplerate.value.1"							visible="false"							default=""/>		
		<setting type="bool"	id="audiooutput.stereoupmix.value.1"		label="32124"	visible="true" 							default="false"/>
		<setting type="bool"	id="audiooutput.normalizelevels.value.1"	label="32125"	visible="true" 							default="false"/>
		<setting type="action"	id="audiooutput.processquality.1"			label="32126"	visible="true"							default=""		action="RunScript($ID, audiooutput.processquality, 1)"/>
		<setting type="text"	id="audiooutput.processquality.value.1"						visible="false"							default="30"/>
		<setting type="action"	id="audiooutput.streamsilence.1"			label="32127"	visible="true"							default=""		action="RunScript($ID, audiooutput.streamsilence, 1)"/>
		<setting type="text"	id="audiooutput.streamsilence.value.1"						visible="false"							default="-1"/>
		<setting type="action"	id="audiooutput.guisoundmode.1"				label="32128"	visible="true"							default=""		action="RunScript($ID, audiooutput.guisoundmode, 1)"/>
		<setting type="text"	id="audiooutput.guisoundmode.value.1"						visible="false"							default=""/>
		<setting type="bool"	id="audiooutput.passthrough.value.1"		label="32129"	visible="!eq(-15,Analog) + !eq(-15,)" 	default="false"/>
		<setting type="action"	id="audiooutput.passthroughdevice.1"		label="32130"	visible="!eq(-16,Analog) + !eq(-16,)"	default=""		action="RunScript($ID, audiooutput.passthroughdevice, 1)" enable="eq(-1, true)"/>
		<setting type="text"	id="audiooutput.passthroughdevice.value.1"					visible="false"							default=""/>
		<setting type="bool"	id="audiooutput.ac3passthrough.value.1" 	label="32131" 	visible="!eq(-18,Analog) + !eq(-18,)" 	default="false"	enable="eq(-3, true)"/>
		<setting type="bool"	id="audiooutput.ac3transcode.value.1" 		label="32132" 	visible="!eq(-19,Analog) + !eq(-19,)" 	default="false"	enable="eq(-4, true)"/>
		<setting type="bool"	id="audiooutput.eac3passthrough.value.1" 	label="32133" 	visible="!eq(-20,Analog) + !eq(-20,)" 	default="false"	enable="eq(-5, true)"/>
		<setting type="bool"	id="audiooutput.dtspassthrough.value.1" 	label="32134" 	visible="!eq(-21,Analog) + !eq(-21,)" 	default="false"	enable="eq(-6, true)"/>
		<setting type="bool"	id="audiooutput.truehdpassthrough.value.1"	label="32135" 	visible="!eq(-22,Analog) + !eq(-22,)" 	default="false"	enable="eq(-7, true)"/>
		<setting type="bool"	id="audiooutput.dtshdpassthrough.value.1" 	label="32136" 	visible="!eq(-23,Analog) + !eq(-23,)" 	default="false"	enable="eq(-8, true)"/>
	</category>
	<category label="32102">
		<setting type="text"	id="profile.name.2"							label="32110"	visible="true" 							default=""/>
		<setting type="action"	id="audiooutput.audiodevice.2"				label="32120"	visible="true" 							default=""		action="RunScript($ID, audiooutput.audiodevice, 2)"/>
		<setting type="text"	id="audiooutput.audiodevice.value.2"						visible="false"							default=""/>
		<setting type="text"	id="profile.audiodevicecategory.2"							visible="false"							default="Analog"/>
		<setting type="action"	id="audiooutput.channels.2"					label="32121"	visible="!eq(-1,SPDIF)"  				default=""		action="RunScript($ID, audiooutput.channels, 2)"/>
		<setting type="text"	id="audiooutput.channels.value.2"							visible="false" 						default="1"/>
		<setting type="action"	id="audiooutput.config.2"					label="32122"	visible="true"							default=""		action="RunScript($ID, audiooutput.config, 2)"/>
		<setting type="text"	id="audiooutput.config.value.2"								visible="false"							default="2"/>
		<setting type="action"	id="audiooutput.samplerate.2"				label="32123"	visible="eq(-5,SPDIF)"					default=""		action="RunScript($ID, audiooutput.samplerate, 2)"/>
		<setting type="text"	id="audiooutput.samplerate.value.2"							visible="false"							default=""/>		
		<setting type="bool"	id="audiooutput.stereoupmix.value.2"		label="32124"	visible="true" 							default="false"/>
		<setting type="bool"	id="audiooutput.normalizelevels.value.2"	label="32125"	visible="true" 							default="false"/>
		<setting type="action"	id="audiooutput.processquality.2"			label="32126"	visible="true"							default=""		action="RunScript($ID, audiooutput.processquality, 2)"/>
		<setting type="text"	id="audiooutput.processquality.value.2"						visible="false"							default="30"/>
		<setting type="action"	id="audiooutput.streamsilence.2"			label="32127"	visible="true"							default=""		action="RunScript($ID, audiooutput.streamsilence, 2)"/>
		<setting type="text"	id="audiooutput.streamsilence.value.2"						visible="false"							default="-1"/>
		<setting type="action"	id="audiooutput.guisoundmode.2"				label="32128"	visible="true"							default=""		action="RunScript($ID, audiooutput.guisoundmode, 2)"/>
		<setting type="text"	id="audiooutput.guisoundmode.value.2"						visible="false"							default=""/>
		<setting type="bool"	id="audiooutput.passthrough.value.2"		label="32129"	visible="!eq(-15,Analog) + !eq(-15,)" 	default="false"/>
		<setting type="action"	id="audiooutput.passthroughdevice.2"		label="32130"	visible="!eq(-16,Analog) + !eq(-16,)"	default=""		action="RunScript($ID, audiooutput.passthroughdevice, 2)" enable="eq(-1, true)"/>
		<setting type="text"	id="audiooutput.passthroughdevice.value.2"					visible="false"							default=""/>
		<setting type="bool"	id="audiooutput.ac3passthrough.value.2" 	label="32131" 	visible="!eq(-18,Analog) + !eq(-18,)" 	default="false"	enable="eq(-3, true)"/>
		<setting type="bool"	id="audiooutput.ac3transcode.value.2" 		label="32132" 	visible="!eq(-19,Analog) + !eq(-19,)" 	default="false"	enable="eq(-4, true)"/>
		<setting type="bool"	id="audiooutput.eac3passthrough.value.2" 	label="32133" 	visible="!eq(-20,Analog) + !eq(-20,)" 	default="false"	enable="eq(-5, true)"/>
		<setting type="bool"	id="audiooutput.dtspassthrough.value.2" 	label="32134" 	visible="!eq(-21,Analog) + !eq(-21,)" 	default="false"	enable="eq(-6, true)"/>
		<setting type="bool"	id="audiooutput.truehdpassthrough.value.2"	label="32135" 	visible="!eq(-22,Analog) + !eq(-22,)" 	default="false"	enable="eq(-7, true)"/>
		<setting type="bool"	id="audiooutput.dtshdpassthrough.value.2" 	label="32136" 	visible="!eq(-23,Analog) + !eq(-23,)" 	default="false"	enable="eq(-8, true)"/>
	</category>
</settings>
